# code coverage
.cover
coverage.out

# git repo
.git

# IDE customization
.idea
.vscode

# binaries
.bin
.run

# examples
examples

# linter
golangci-lint.out

# env customization
.env
.in

# Test binary, build with `go test -c`
*.test
test-report.out

# SonarQube
.scannerwork

# temp
.DS_Store